{% load static %}

<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
            {% if site_general_info.site_description %}
                <p class="mb-4">{{ site_general_info.site_description|linebreaks }}</p>
            {% endif %}
            {% if site_general_info.address %}
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{{ site_general_info.address }}
                </p>
            {% endif %}
            {% if site_general_info.email_address %}
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{{ site_general_info.email_address }}
                </p>
            {% endif %}
            {% if site_general_info.phone_number %}
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+{{ site_general_info.phone_number }}
                </p>
            {% endif %}
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="{% url 'Home:home' %}"><i
                                class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="{% url 'product:product_list' %}"><i
                                class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="
                                {% if recent_viewed.0 %}{% url 'product:Product_detail' recent_viewed.0.id %}{% else %}{% url 'product:product_list' %}{% endif %} "
                           class="nav-item nav-link {% if request.resolver_match.url_name == 'Product_detail' %}active{% endif %}"><i
                                class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="{% url 'cart:cart' %}"><i
                                class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="{% url 'cart:check_out' %}"><i
                                class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="{% url 'Home:contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact
                            Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="{% url 'Home:home' %}"><i
                                class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="{% url 'product:product_list' %}"><i
                                class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="


                                {% if recent_viewed.0 %}{% url 'product:Product_detail' recent_viewed.0.id %}{% else %}{% url 'product:product_list' %}{% endif %} "
                           class="nav-item nav-link {% if request.resolver_match.url_name == 'Product_detail' %}active{% endif %}"><i
                                class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="{% url 'cart:cart' %}"><i
                                class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="{% url 'cart:check_out' %}"><i
                                class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="{% url 'Home:contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact
                            Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                    <p>Keep in touch</p>
                    <form method="post" action="{% url 'Home:news_letter' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="email" type="text" class="form-control" placeholder="Your Email Address">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        {% if twetter_URL %}
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        {% endif %}
                        {% if facebook_URL %}
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        {% endif %}
                        {% if linkin_URL %}
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        {% endif %}
                        {% if instagram_URL %}
                            <a class="btn btn-primary btn-square" href="{{ instagram_URL }}"><i
                                    class="fab fa-instagram"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">#}
    {#        <div class="col-md-6 px-xl-0">#}
    {#            <p class="mb-md-0 text-center text-md-left text-secondary">#}
    {#                &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed#}
    {#                by#}
    {#                <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>#}
    {#                <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>#}
    {#            </p>#}
    {#        </div>#}
    {#        <div class="col-md-6 px-xl-0 text-center text-md-right">#}
    {#            <img class="img-fluid" src="{% static "img/payments.png" %}" alt="">#}
    {#        </div>#}
    {#    </div>#}
</div>