{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block contant %}

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">

            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <form>
                    <!-- Price Start -->
                    <center><input value="Submit Filter" id="list-filter-btn" type="submit" class="btn btn-primary">
                    </center>
                    <br>
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span>
                    </h5>
                    <br>


                    <div class="bg-light p-4 mb-30">


                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <label for="price-1">Min</label>
                            <input type="number" name="min_price" min="0" id="price-1">

                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <label for="price-2">Max</label>
                            <input type="number" name="max_price" min="0" id="price-2">

                        </div>
                    </div>
                    <!-- Price End -->

                    <!-- Color Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span>
                    </h5>

                    <div class="bg-light p-4 mb-30">

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" value="black" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                            <span class="badge border font-weight-normal">12</span>

                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" value="white" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" value="red" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" name="color" value="blue" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>

                    </div>
                    <!-- Color End -->

                    <!-- Size Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span>
                    </h5>
                    <div class="bg-light p-4 mb-30">
                        <form>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="XS" class="custom-control-input" id="size-1">
                                <label class="custom-control-label" for="size-1">XS</label>
                                <span class="badge border font-weight-normal">150</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="S" class="custom-control-input" id="size-2">
                                <label class="custom-control-label" for="size-2">S</label>
                                <span class="badge border font-weight-normal">295</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="M" class="custom-control-input" id="size-3">
                                <label class="custom-control-label" for="size-3">M</label>
                                <span class="badge border font-weight-normal">246</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="L" class="custom-control-input" id="size-4">
                                <label class="custom-control-label" for="size-4">L</label>
                                <span class="badge border font-weight-normal">145</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" name="size" value="XL" class="custom-control-input" id="size-5">
                                <label class="custom-control-label" for="size-5">XL</label>
                                <span class="badge border font-weight-normal">168</span>
                            </div>
                            <br>


                        </form>
                    </div>
                    <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>

                            <form method="get">

                                {% for key, value in request.GET.items %}
                                    {% if key != 'sorted_by' %}
                                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                                    {% endif %}
                                {% endfor %}

                                <div class="ml-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                                data-toggle="dropdown">Sorting
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item" type="submit" value="latest" name="sorted_by">
                                                Latest
                                            </button>
                                            <button class="dropdown-item" type="submit" value="popularity"
                                                    name="sorted_by">Popularity
                                            </button>
                                            <button class="dropdown-item" type="submit" value="off_price"
                                                    name="sorted_by">OFFERs
                                            </button>
                                            <button class="dropdown-item" type="submit" value="rating"
                                                    name="'sorted_by">
                                                Best Rating
                                            </button>
                                            <hr>
                                            <button class="dropdown-item" type="submit" value="all"
                                                    name="'sorted_by">
                                                <center>All Products</center>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    {% if not obj %}

                        <img class="center" src="{% static 'img/product_not_found.webp' %}">

                    {% else %}
                        {% for product in obj %}
                            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden">
                                        {#                                    {% for image in product.images.all %}#}
                                        {#                                        <img style="width: 291.06px; height: 291.06px" class="img-fluid w-100"#}
                                        {#                                             src="{{ image.image.url }}" alt="">#}
                                        {#                                    {% endfor %}#}
                                        <img style="width: 291.06px; height: 291.06px" class="img-fluid w-100"
                                             src="{{ product.images.first.image.url }}" alt="">
                                        <div class="product-action">

                                            <a class="btn btn-outline-dark btn-square" href=""><i
                                                    class="fa fa-shopping-cart"></i></a>
                                            {% if product in request.user.favorites.all or product.id in request.sessions.favorites %}
                                                <a class="btn btn-outline-dark btn-square"
                                                   href="{% url 'product:add_to_user_favorite_list' product.id %}"><i
                                                        class="fa fa-heart"></i></a>
                                            {% else %}
                                                <a class="btn btn-outline-dark btn-square"
                                                   href="{% url 'product:add_to_user_favorite_list' product.id %}"><i
                                                        class="far fa-heart"></i></a>
                                            {% endif %}
                                            <a class="btn btn-outline-dark btn-square" href=""><i
                                                    class="fa fa-sync-alt"></i></a>
                                            <a class="btn btn-outline-dark btn-square" href=""><i
                                                    class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="">{{ product.title }}</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>${{ product|price }}</h5>

                                            {% if product.discount.all %}
                                                <h6 class="text-muted ml-2">
                                                    <del>${{ product.price }}</del>
                                                </h6>
                                            {% endif %}

                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small>({{ product.comments.all.count }})</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if page_obj.has_other_pages %}
                        <div class="col-12">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.previous_page_number }}
                                            {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% for page in page_obj.paginator.page_range %}
                                        <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a
                                                class="page-link" href="?page=

                                                {{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page=

                                                {{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}
                                                    {% endif %}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock %}